In [38]:
import pandas as pd
url = "https://raw.githubusercontent.com/GWC-DCMB/CapstoneProject/master/datasets/"
filepath = "tesla/Tesla_Deaths.csv"
df = pd.read_csv(url + filepath)
df['Non_occupant'] = 'hi'
df.values

for i in range(0,144):
    df.loc[i, 'Non_Occupant'] = df.loc[i,"Other_vehicle"] + df.loc[i,"Cyclists_Peds"] 
df[["Deaths","Tesla_driver","Tesla_occupant","Other_vehicle","Cyclists_Peds","Non_Occupant"]]

,Deaths,Tesla_driver,Tesla_occupant,Other_vehicle,Cyclists_Peds,Non_Occupant
0,2,1.0,1.0,NaN,NaN,NaN
1,1,NaN,NaN,1.0,NaN,NaN
2,1,NaN,NaN,1.0,NaN,NaN
3,2,1.0,NaN,1.0,NaN,NaN
4,1,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
139,1,NaN,NaN,1.0,NaN,NaN
140,1,1.0,NaN,NaN,NaN,NaN
141,3,NaN,NaN,3.0,NaN,NaN
142,1,NaN,NaN,NaN,1.0,NaN
143,2,NaN,NaN,2.0,NaN,NaN